# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extends
*.ipch
*.suo
*.db
*.opendb
# v15
*.db
*.opendb
*.suo
*.ipch

# project
*.filters
*.user

# Debug
*.lastbuildstate
*.tlog
*.log
*.idb
*.pdb
*.filters
*.user
*.ilk
